.admin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

.admin-container{
    margin-bottom: 30px;
}

.btn-register{
    margin-bottom: 30px;    
}

.admin-container h1{
    margin-bottom: 20px;
}

.admin-container h1:hover{
    color:rgb(225, 235, 220);    
}

.list{
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(18, 17, 16);
    border-radius: 5px;
    margin-bottom: 12px;
    justify-content: center;
    padding: 10px 10px;
}

.list p{
    margin-bottom: 8px;
}

.list button{
    margin-right: 20px;
    border-color: rgb(47, 45, 43);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(18, 17, 16);
    color: #FFF;
}

.list button:hover{
    border-color: rgba(175, 217, 39, 0.426);
    color:  rgba(175, 217, 39, 0.426);
}

/* Selecionar 2º elemento */
.list button:hover:nth-child( 2 ){
    border-color: rgb(217, 39, 39);
    color: red;
}


.btn-logout{
    position: absolute;
    bottom: 6%;
    margin-left: 85%;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: 0;
    background-color: rgba(70, 205, 205, 0.225);
    font-weight: bold;   
}

.btn-logout:hover{
    background-color: rgba(70, 205, 205, 0.815);
    color: #FFF;
    transition: all 0.5s;
}

.form textarea{
    padding: 8px;
    border-radius: 4px;
}