*{
	padding: 0;
	margin: 0;
}


body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../resources/1-imagens/fundo.png) repeat-x top;
}

#container{
	width: 750px;
	margin: 0 auto;
}

#topo{
	height: 150px;
	background: url(../resources/1-imagens/detalhe-topo.png) no-repeat top right;
	padding: 25px;
}

.logo{
	width: 152px;
	height: 66px;
	background: url(../resources/1-imagens/logo.png) no-repeat center;
	text-indent: -3000px; /* vai esconder o texto "Notícias cidade",
	 mas estará lá para pesquisa, é recomendado fazer desa forma para não ocultar atras
	 de imagens e gerar problemas na pesquisa, NÃO USAR display: none; */
}


/* Barra de navegação */

ul{ /* remover formatação padrão*/
	margin: 0;
	padding: 0;
	list-style: none;
}

#topo ul{
	background: #b10333;
	margin-top: 30px;
	float: left;
}

#topo ul li{
	float: left;
}

#topo ul a{
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.35em;
	line-height: 2.1em;
	text-decoration: none;
	color: #fff;
	background: url(../resources/1-imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a{ /* vai remover a primeira imagem de divisor*/
	background: none;
}

#topo ul a:hover{
	color: #69001d;
}


/* marcar como aba selecionada, usar uma class no body e id no link*/
body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.foto #navegacao a#foto{
	color: #fff;
	background: #de003e;
	cursor: text;
}




/* layout de 3 colunas */



#conteudo{
	margin-top: 40px;
	background: #f5f5f5;
}


/* PRIMARIO será para 3 colunas e depois criar para 2 e 1 */
#primario{   
	width: 270px; /*largura de 750px divido em 3 com espaçamento de 15px*/
	float: left;
	margin: 0 0 20px 195px; /* para abrir espaço para o "lateral-e" com padding15px*/  
}




#secundario{   
	width: 270px; /*largura de 750px divido em 3 com espaçamento de 15px*/
	float: left;
	margin: 0 0 20px 15px; /* encaixar no espaço entre "lateral-e"  e primario*/
}

#lateral-e{   
	width: 180px; /*largura de 750px divido em 3 com espaçamento de 15px*/
	float: left;
	margin: 0 0 20px -750px; /* entrar no espaço para o "lateral-e" com padding15px*/
}

#container-rodape{
	background: #294c71;
	padding: 20px;
}

#rodape{          /*seguir o padrao do container*/
	width: 750px;
	margin: 0 auto;
	color: #fff;
}






/* DUAS  colunas*/

#duas-colunas #primario{   
	width: 555px; /*largura de 750px divido em 2 com espaçamento de 15px*/
}



/* UMA  coluna*/

#uma-coluna #primario{   
	width: 750px; /*largura de 750px */
	margin: 0 0 20px; /* para abrir espaço para o "lateral-e" com padding15px*/  
}





/* Caixa lateral */


.caixa-lateral{
	margin: 10px 0;
	padding: 5px 0 5px 0;
	background: #f3f3f3 url(../resources/1-imagens/fundo-caixa.png);
}
h2{
	font-size: 1.1em;
	background: #294c71;
	color: #fff;
	padding: 5px;
}
.caixa-conteudo{
	background: #fff;
	margin-top: 5px;
	padding: 5px;
}



/* formatar menu lateral*/

#lateral-e ul a{
	text-decoration: none;
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 30px;
	color: #000;
	border-bottom: 1px solid #f3f3f3;
}

#lateral-e ul a:hover{
	color: #a1a1a1;
	background: #f9f9f9 url(../resources/1-imagens/marcador.png) no-repeat left center;
	padding: 20px;
}


/* formatar formularios*/

label{
	display: block;
	cursor: pointer;
}

input{
	padding: 5px;
	width: 150px;
	font-size: 0.9;
	background-color: #fff;
}
input.submit{
	width: 80px;
	color: #fff;
	background-color: #b10333;
	border: 2px solid #870529;
	padding: 5px;
}