body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

legend{
	font-weight: bold;
}
fieldset{
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #ccc;
	background: #f8f8f8;
}
label{
	display: block;
	cursor: pointer;
	padding-top: 0.5em;
}
input{   /* input [type="text"]  
apenas type="text" será formatado, mas por se tratar de um comando novo 
pode não funcionar bem em alguns aparelhos */
	width: 25em;
}

input.radio,
input.checkbox,
input.submit{
	width: auto;
}
.radio{
	margin-right: 1em;
}



textarea{
	width: 25em;
	height: 10em;
}
