/*

	ul{
		/* border: 1px solid red;*/
		/* remover formatações*/

		/*

		list-style-type: none;
		margin: 0;
		padding: 0;
	}*/


	/* li{
		padding: 5px 20px;
		/*border: 1px solid red;*/

		/*    ../   serve para VOLTAR, sair da pasta css e entrar na resources */
		
		/*background: url(../resources/2-imagens/seta.png) no-repeat left center;  
	}*/




li{
	list-style-type: none;

}

ul a{
	display: block;
	/* border: 1px solid red;*/
	width: 200px;/* é exatamente o tamanho da imagem*/
	height: 40px;

	/* formatar o texto das url*/
	text-decoration: none;
	color: #000;
	text-indent: 40px;
	line-height: 40px; /* altura da linha será a mesma da 
	altura: height: 40px;  para centralizar*/

	background: #F7B600 /* SERÁ USADA ESSA COR CASO A IMAGEM NÃO CARREGUE*/
	url(../resources/2-imagens/menu.png)no-repeat left bottom;
}

a:hover, .selecionado a{
	background-position: right bottom;
	background-color: #F99600 /* SERÁ USADA ESSA COR CASO A IMAGEM NÃO CARREGUE,
	vai aparecer ao passar o mouse sobre */;
	color: #fff;
}

/* pode usar o modo selecionado acima ou esse abaixo */


#home #navegacao .home a,   /*PODE TAMBEM incluir um menu principal, rodape etc */
#servicos #navegacao .servicos a,
#noticias .noticias a,
#estudar .estudar a,
#contato .contato a


{
	background-position: right bottom;
	background-color: #F99600 /* SERÁ USADA ESSA COR CASO A IMAGEM NÃO CARREGUE,
	vai aparecer ao passar o mouse sobre */;
	color: #fff;
}