ul{
	margin: 0;
	padding: 0;
	list-style-type: none;

	width: 567px;
	background: #159cb0 url(../resources/3-imagens/fundo-horizontal.png) repeat-x;

	float: left; /* USAR EM AMBOS para funcionar adequadamente*/
}

ul li{
	/*display: inline; vai funcionar, mas recomenda-se o caso abaixo
	para organizar na HORIZONTAL:  */
	float: left; /* USAR EM AMBOS para funcionar adequadamente*/
}

/* Formatar os links */

ul a {
	display: block;
	padding: 0 2em;
	line-height: 2.3em;
	text-decoration: none;
	color: #fff;

	/* Configurando o divisor
	
	border-left: 1px solid gray;    ou inserir uma imagem */
	background: url(../resources/3-imagens/divisor.png) repeat-y left top;

}

ul .primeiro a{
	background: none; /* tirar a primeira imagem de divisor do menu. Olha lá como
	ficou após inserir mais uma classe: 
						li class="home primeiro" */
}


/* efeito de passar o mouse sobre o menu */
ul a:hover{
	color: #085662;
	background: #44cade;

}


#home #navegacao .home a,   /* navegação... PODE TAMBEM incluir um menu principal, rodape etc */
#servicos #navegacao .servicos a,
#noticias .noticias a,
#estudar .estudar a,
#contato .contato a
{
	
	background: #44cade;
	color: #085662;
	/* Foram copiados do "hover"
	

	SERÁ USADA ESSA COR CASO A IMAGEM NÃO CARREGUE,
	vai aparecer ao passar o mouse sobre */;
	
}