body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 720px;
}

ul li{
	float: left;
	background: url(../resources/4-imagens/aba-direita2.png) no-repeat top right;
	/*  background-color: red; caso a cor de fundo na pontinha que falta na imagem
	 seja outra, pode corrigir */
}

li a {
	display: block;
	padding: 0 2em;
	line-height: 3em;
	text-decoration: none;
	background: url(../resources/4-imagens/aba-esquerda2.png) no-repeat top left;
	color: #fff;
}


/* cor de fundo da letra ao passar o mouse */
ul a:hover{
	color: #894a1f;
}


ul #link_atual{
	background: url(../resources/4-imagens/aba-direita-atual.png) no-repeat top right;
}

ul #link_atual a{
	background: url(../resources/4-imagens/aba-esquerda-atual.png) no-repeat top left;
}