*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Iniciar estilos globais*/
body{
    background-color: #27292d;
    color: #FFF;
    width: 100%;
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
}

/*Ativar cursos da "mãozinha" em todos os botões */
button{
    cursor: pointer;
}
