<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página de E-mail</title>
</head>
<body>
    <h1>Lista de E-mails</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mails enviados</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Leandrocf79</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Romário</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>
</body>
</html>